<h3>{{$state.current.title}}</h3>

<div class="panel panel-default">
	<div class="text-right">
		
		<div class="commodity-btn passing">
			<span class="passingSpan">上架中</span>
		</div>
	</div>
	<div class="row rownew">
		<div class="form-group  col-lg-4">
			<div class="form-group-div">商品名称:</div>
			<span>小龙坎火锅8折优惠券</span>
		</div>
		<div class="form-group col-lg-4">
			<div class="form-group-div">商品编号:</div>
			<span>23122222</span>
		</div>

		<div class="form-group col-lg-12">
			<div class="form-group-div">使用时间:</div>
			<span>20171130</span>
		</div>
		<div class="form-group  col-lg-4">
			<div class="form-group-div">范围:</div>
			<span>全部(部分商品)</span>
		</div>
		<div class="form-group col-lg-4">
			<div class="form-group-div">叠加数量:</div>
			<span>1张</span>
		</div>
		<div class="form-group col-lg-12">
			<div class="form-group-div">照片:</div>
			<div class="commodityphoto">
				<img src="" alt="" />
				<img src="" alt="" />
				<img src="" alt="" />
				<img src="" alt="" />
			</div>

		</div>
		<div class="form-group  col-lg-12">
			<div class="form-group-div">描述:</div>
			<span>小龙坎8折优惠券，欢迎到店品尝</span>
		</div>
		<div class="form-group  col-lg-12">
			<div class="form-group-div">店铺地址:</div>
			<span>店铺地址： 志强社区 / 文新院 / 2栋 / 3单元 / 1201</span>
		</div>
	</div>
	<!--结束-->
	<div class="commodity-line"></div>
	<div class="row rownew">
		<div class="form-group  col-lg-12">
			<div class="form-group-div">添加人:</div>
			<span>彭丽媛</span>
		</div>
		<div class="form-group  col-lg-12">
			<div class="form-group-div">时间:</div>
			<span>2017.11.21~2017.11.30</span>
		</div>
	</div>

</div>