<h3>{{$state.current.title}}</h3>
<!-- START panel-->
<div class="panel panel-default" cg-busy="listBusyPromise">
	<div class="panel-footer">
		<div class="row">
			<div class="col-lg-8">
				<form role="form" class="form-inline" ng-submit="fetchData()">
					<div class="form-group">
						<label for="input-keyword">店铺名称：</label>
						<select ng-model="searchOption.shopId" ng-change="fetchData()" class="form-control" ng-options="x.Id as x.Name for x in shopNameList"></select>
					</div>
					<div class="form-group">
						<label for="input-keyword">时间：</label>
						<input type="text" id="datetimeStart" ng-model="searchOption.startTime" placeholder="开始时间" class="form-control" />&nbsp;-&nbsp;
						<input type="text" id="datetimeEnd" ng-model="searchOption.endTime" placeholder="结束时间" class="form-control" />
					</div>
					<div class="form-group">
						<input id="input-keyword" type="text" ng-model="searchOption.value" placeholder="负责人/店铺名" class="form-control" />
					</div>
					<button type="submit" class="btn btn-default">查询</button>
				</form>
			</div>

		</div>
	</div>
	<!-- START table-responsive-->
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>序号</th>
					<th>商家名称</th>
					<th>负责人</th>
					<th>评价总数(条)</th>
					<th>已通过(条)</th>
					<!--<th>未通过(条)</th>
					<th>待审核</th>-->
					<th class="text-center">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="list.length==0||!list">
					<td colspan="20">暂无任何数据！</td>
				</tr>
				<tr ng-repeat="x in list">
					<td>{{x.$index}}</td>
					<td class="td-hiddens" title="{{x.ShopName}}">{{x.ShopName}}</td>
					<td class="td-hiddens" title="{{x.Principal}}">{{x.Principal}}</td>
					<td>{{x.TotalNum}}</td>
					<td class="thColor">{{x.PassedNum}}</td>
					<!--<td class="thColor2">{{x.NoPassedNum}}</td>
					<td class="thColor1">{{x.UnreviewedNum}}</td>-->
					<td class="text-center">
						<button ng-click="detailItem(x)" class="btn btn-primary">查看明 细</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- END table-responsive-->
	<div class="panel-footer">
		<div class="row">
			<div class="col-lg-12 text-center">
				<paging page="pagination.page" page-size="pagination.pageSize" total="pagination.total" show-prev-next="true" show-first-last="true" paging-action="getListSpecifyPage(page,pageSize,total)">
				</paging>
			</div>
		</div>
	</div>
</div>
<!-- END panel-->

<!--begin ngDialog createOne-->
<script type="text/ng-template" id="createOne">
	<div class="modal-header">
		<h5 class="modal-title">{{TitleText}}积分事件</h5>
	</div>
	<div class="modal-body" cg-busy="ngDialogPromise">
		<div class="formlist" fields-data="fieldsList" close-dialog="closeThisDialog(0)" form-submit="formSubmit()" column="2"></div>
	</div>
</script>
<!--end ngDialog createOne-->