<h3>{{$state.current.title}}</h3>

<div class="panel panel-default" cg-busy="listBusyPromise"  ng-if="slectedId===1">
	<div class="text-right">
		<div class="commodity-btn" ng-class="tdClass(DetailData.ReviewState)">
		</div>
	</div>
	<i class="fa fa-arrow-left back-i" id="back-all-btn" ng-click="clickBack()" aria-hidden="true">
	</i>
	<div class="row rownew">
		<div class="form-group  col-lg-4">
			<div class="form-group-div">名称:</div>
			<span>{{DetailData.Name}}</span>
		</div>
		<div class="form-group col-lg-8">
			<div class="form-group-div">金额:</div>
			<span>{{DetailData.Quantity}}</span>元
		</div>
		<div class="form-group  col-lg-4">
			<div class="form-group-div">付款方:</div>
			<span>{{DetailData.Payer}}</span>
		</div>
		<div class="form-group col-lg-8">
			<div class="form-group-div">名义方式:</div>
			<span>{{DetailData.NominalWayName}}</span>
		</div>
		<div class="form-group col-lg-4">
			<div class="form-group-div">付款联系人:</div>
			<span>{{DetailData.Contacts}}</span>
		</div>
		<div class="form-group col-lg-8">
			<div class="form-group-div">联系电话:</div>
			<span>{{DetailData.Phone}}</span>
		</div>
		<div class="form-group col-lg-4">
			<div class="form-group-div">付款方式:</div>
			<span>{{DetailData.PayWayName}}</span>
		</div>
		<div class="form-group col-lg-8">
			<div class="form-group-div">状态:</div>
			<span>{{DetailData.OpenStateName}}</span>
		</div>
		<div class="form-group col-lg-12">
			<div class="form-group-div">备注信息:</div>
			<span>{{DetailData.Remarks}}</span>
		</div>
		</div>
	<!--结束-->
	<div class="commodity-line"></div>
	<div class="row rownew" >
		<div ng-if="DetailData.ReviewState!=4">
		<div class="form-group  col-lg-12">
			<div class="form-group-div" ng-if="DetailData.ReviewState==1">提交人:</div>
			<div class="form-group-div" ng-if="DetailData.ReviewState==2 || DetailData.ReviewState==3">审核人:</div>
			<span>{{DetailData.OperationBy}}</span>
		</div>
		<div class="form-group  col-lg-12">
			<div class="form-group-div">时间:</div>
			<span>{{DetailData.OperationAt| date:"yyyy-MM-dd HH:mm"}}</span>
		</div>
		<div class="form-group col-lg-12" ng-if="DetailData.ReviewState==2 || DetailData.ReviewState==3">
			<div class="form-group-div">备注信息:</div>
			<span>{{DetailData.OperationRemarks}}</span>
		</div>
		</div>
		<div class="form-group  col-lg-12  banner-button">
			<button ng-if="DetailData.ReviewState==1" type="button" ng-click="bannerBtn(2)" class="btn btn-danger">不通过</button>
			<button ng-if="DetailData.ReviewState==1" type="button" ng-click="bannerBtn(3)" class="btn btn-success">通过</button>
			<button ng-if="DetailData.ReviewState==4 ||DetailData.ReviewState==3 " type="button" ng-click="deleteItem()" class="btn btn-danger">删除</button>
			<button ng-if="DetailData.ReviewState==4 ||DetailData.ReviewState==3 " class="btn btn-primary" ng-click="editorItem()">修改</button>
			<button ng-if="DetailData.ReviewState==4 ||DetailData.ReviewState==3 " type="button" class="btn btn-info" ng-click="bannerBtn(1)">提交</button>
		
		</div>

	</div>
</div>
<div class="panel panel-default" cg-busy="listBusyPromise"  ng-if="slectedId===2">
	<div class="text-right">
		<div class="commodity-btn" ng-class="tdClass(DetailData.ReviewState)">
		</div>
	</div>
	<i  class="fa fa-arrow-left back-i" id="back-all-btn" ng-click="clickBack()" aria-hidden="true">
	</i>
	<div class="row rownew">
		<div class="form-group  col-lg-4">
			<div class="form-group-div">名称:</div>
			<span>{{DetailData.Name}}</span>
		</div>
		<div class="form-group col-lg-8">
			<div class="form-group-div">使用类型:</div>
			<span>{{DetailData.FundUserTypeName}}</span>
		</div>
		<div class="form-group  col-lg-4">
			<div class="form-group-div">关联事项:</div>
			<span>{{DetailData.FinanceProjectName}}</span>
		</div>
		<div class="form-group  col-lg-8">
			<div class="form-group-div">金额:</div>
			<span>{{DetailData.UseQuantity}}</span>元
		</div>
		<div class="form-group  col-lg-4">
			<div class="form-group-div">收款方:</div>
			<span>{{DetailData.Receiver}}</span>
		</div>
		<div class="form-group col-lg-8">
			<div class="form-group-div">名义方式:</div>
			<span>{{DetailData.NominalWayName}}</span>
		</div>
		<div class="form-group col-lg-4">
			<div class="form-group-div">收款联系人:</div>
			<span>{{DetailData.Contacts}}</span>
		</div>
		<div class="form-group col-lg-8">
			<div class="form-group-div">联系电话:</div>
			<span>{{DetailData.Phone}}</span>
		</div>
		<div class="form-group col-lg-4">
			<div class="form-group-div">付款方式:</div>
			<span>{{DetailData.PayWayName}}</span>
		</div>
		<div class="form-group col-lg-8">
			<div class="form-group-div">状态:</div>
			<span>{{DetailData.OpenStateName}}</span>
		</div>
		<div class="form-group col-lg-12">
			<div class="form-group-div">备注信息:</div>
			<span>{{DetailData.Remarks}}</span>
		</div>
		</div>
	<!--结束-->
	<div class="commodity-line"></div>
	<div class="row rownew" >
		<div ng-if="DetailData.ReviewState!=4">
		<div class="form-group  col-lg-12">
			<div class="form-group-div" ng-if="DetailData.ReviewState==1">提交人:</div>
			<div class="form-group-div" ng-if="DetailData.ReviewState==2 || DetailData.ReviewState==3">审核人:</div>
			<span>{{DetailData.OperationBy}}</span>
		</div>
		<div class="form-group  col-lg-12">
			<div class="form-group-div">时间:</div>
			<span>{{DetailData.OperationAt| date:"yyyy-MM-dd HH:mm"}}</span>
		</div>
		<div class="form-group col-lg-12" ng-if="DetailData.ReviewState==2 || DetailData.ReviewState==3">
			<div class="form-group-div">备注信息:</div>
			<span>{{DetailData.OperationRemarks}}</span>
		</div>
		</div>
		<div class="form-group  col-lg-12  banner-button">
			<button ng-if="DetailData.ReviewState==1" type="button" ng-click="bannerBtn(2)" class="btn btn-danger">不通过</button>
			<button ng-if="DetailData.ReviewState==1" type="button" ng-click="bannerBtn(3)" class="btn btn-success">通过</button>
			<button ng-if="DetailData.ReviewState==4 ||DetailData.ReviewState==3 " type="button" ng-click="deleteItem()" class="btn btn-danger">删除</button>
			<button ng-if="DetailData.ReviewState==4 ||DetailData.ReviewState==3 " class="btn btn-primary" ng-click="editorItem()">修改</button>
			<button ng-if="DetailData.ReviewState==4 ||DetailData.ReviewState==3 " type="button" class="btn btn-info" ng-click="bannerBtn(1)">提交</button>
		
		</div>

	</div>
</div>
<!--begin ngDialog createOne-->
<script type="text/ng-template" id="createTwo">
	<div class="modal-header">
		<h5 class="modal-title">审核</h5>
	</div>
	<div class="modal-body" id="add-advertisements" cg-busy="ngDialogPromise">
		<form class="form-horizontal mycheckbox-inline">
			<div class="form-group form-group-new">
				<div class="btn-audit-st">
					<span>确认此信息准确无误</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-2">备注:</label>
				<div class=" col-lg-10">
					<textarea class="banner-submit-btn" name="" rows="" cols="" ng-model="bannerNew.Remarks"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class=" col-lg-10 col-lg-offset-2">
					<input type="button" ng-click="closeDialog(0)" class="btn btn-default" value="取消" />
					<input type="button" ng-click="formSubmit()" class="btn btn-success" value="确 定" />
				</div>
			</div>
		</form>
	</div>
</script>
<script type="text/ng-template" id="createOne">
	<div class="modal-header">
		<h5 class="modal-title">{{TitleText}}</h5>
	</div>
	<div class="modal-body" cg-busy="ngDialogPromise">

		<form class="form-horizontal">
			<div class="form-group" ng-repeat="field in fieldsList" ng-class="{'col-lg-12':field.column===1,'col-lg-6':field.column!==1||!field.column}">
				<label class="control-label" ng-class="{'col-lg-2':field.column===1,'one-columu':field.column===1,'col-lg-4':field.column!==1||!field.column}" ng-if="field.editor!=='line'">{{field.nameDisplay}}</label>
				<div ng-class="{'col-lg-10':field.column===1,'col-lg-8':field.column!==1||!field.column}">
					<input ng-if="field.editor==='normal' && !field.unit" ng-disabled="field.editable" class="form-control" ng-model="field.value" ng-required="field.required" type="text" maxlength="50" />
					<input ng-if="field.editor==='normal' && field.unit==='money'" ng-disabled="field.editable" class="form-control inputMoney-new" ng-model="field.value" ng-required="field.required" type="text" />
					<input ng-if="field.editor==='normal' && field.unit==='Desmoney'" ng-disabled="field.editable" class="form-control inputMoney-new" ng-model="field.value" ng-required="field.required" type="text" />
					<input ng-if="field.editor==='normal' && field.unit==='Desmoneynew'" ng-disabled="field.editable" class="form-control inputMoney-new" ng-model="field.value" ng-required="field.required" type="text" />

					<span ng-if="field.unit==='money'" title="{{field.des}}" class="unitMoney">元 {{field.des}}</span>
					<span ng-if="field.unit==='Desmoney'" title="{{field.des}}" class="unitMoney-new">元 </span>

					<span ng-if="field.unit==='Desmoneynew'" title="{{field.des}}" class="unitMoney-new">元 </span>
					
					<select ng-if="field.editor==='select'" id="fundationTypeId" ng-disabled="field.disable" class="form-control" ng-model="field.value" ng-required="field.required" ng-change="selectType(field.value,field.name)" ng-options="x.Id as x.Name for x in field.opts">
					</select>
					<div class="form-inline" ng-if="field.editor==='radio'">
						<label class="checkbox-inline " ng-repeat="x in field.opts">
							<input type="radio" ng-disabled="field.disable" ng-model="field.value" name="name_{{field.name}}" value="{{x.Id}}"> {{x.Name }}
						</label>
					</div>

					<div class="form-group" ng-if="field.editor==='textarea'">
						<textarea ng-disabled="field.editable" ng-model="field.value" placeholder="请输入信息" ng-required="field.required" class="form-control fundtext" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-5 col-lg-12 fundfooter" style="margin-top: 30px;">
					<button class="btn btn-success" type="submit" ng-click="formSubmit()">确 定</button>
					<button type="button" class="btn btn-default" ng-click="closeDialog(0)">取 消</button>
				</div>
			</div>
			<div class="clearfix">

			</div>
		</form>
	</div>
</script>
