<h3>{{$state.current.title}}</h3>
<!-- START panel-->
<div class="panel panel-default" cg-busy="listBusyPromise">
	<div class="panel-footer">
		<div class="row">
			<div class="col-lg-8">
				<form role="form" class="form-inline" ng-submit="fetchData()">
					<div class="form-group multiline" ng-repeat="x in screenfields">
						<label for="input-{{x.name}}">{{x.nameDisplay}}：</label>
						<input ng-if="x.editor==='normal'" id="input-{{x.name}}" ng-model="x.value" type="text" placeholder="请输入姓名" class="form-control" />
						<select ng-if="x.editor==='select'" id="input-{{x.name}}" ng-change="fetchData()" ng-model="x.value" class="form-control" ng-options="e.Id as e.Name for e in x.opts">
						</select>
						<div class="inline-formlabel" ng-if="x.editor==='double-input'" class="double-input">
							<input class="form-control form-autowidth" type="text" ng-model="x.value1" />&nbsp; -&nbsp;
							<input class="form-control form-autowidth" type="text" value="" ng-model="x.value2" />
						</div>
					</div>
					<div class="form-group multiline">
						<button type="submit" class="btn btn-default">查询</button>
					</div>
				</form>
			</div>
			<div class="col-lg-4 text-right">
				<button type="button" ng-click="creatOne()" class="btn btn-success">新增{{$state.current.title.substring(0,4)}}</button>
			</div>
		</div>
	</div>
	<!-- START table-responsive-->
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>序号</th>
					<th>姓名</th>
					<th>性别</th>
					<th>身份证号码</th>
					<th>年龄</th>
					<th>民族</th>
					<th>婚姻状态</th>
					<th>工作单位</th>
					<th>联系电话</th>
					<th>社保状态</th>
					<th class="text-center">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="list.length==0||!list">
					<td colspan="20">暂无任何数据！</td>
				</tr>
				<tr ng-repeat="x in list">
					<td>{{x.$index}}</td>
					<td>{{x.Name}}</td>
					<td>{{numberToText(x.Sex,Sexes)}}</td>
					<td>{{x.IDCardNo}}</td>
					<td>{{x.Age}}</td>
					<td>{{numberToText(x.Nationality,Nations)}}</td>
					<td>{{numberToText(x.MaritalStatus,MaritalStatus)}}</td>
					<td>{{x.WorkUnit}}</td>
					<td>{{x.Phone}}</td>
					<td>{{PcService.numberToText(x.SocialSecurity,_SocialSecurityStatus)}}</td>
					<td class="text-center">
						<button type="button" ng-click="editItem(x)" class="btn btn-default">查看</button>
						<!--<button type="button" ng-click="toggleItem(x)" class="btn btn-success">审核</button>-->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- END table-responsive-->
	<div class="panel-footer">
		<div class="row">
			<div class="col-lg-12 text-center">
				<paging page="pagination.page" page-size="pagination.pageSize" total="pagination.total" show-prev-next="true" show-first-last="true" paging-action="getListSpecifyPage(page,pageSize,total)">
				</paging>
			</div>
		</div>
	</div>
</div>
<!-- END panel-->

<!--begin ngDialog createOne-->
<script type="text/ng-template" id="createOne">
	<div class="modal-header">
		<h5 class="modal-title">{{TitleText}}{{$state.current.title.substring(0,4)}}</h5>
	</div>
	<div class="modal-body" cg-busy="ngDialogPromise">
		<!--chose-courtyard="choseCourtyard" chose-ban="choseBan" chose-unit="choseUnit" chose-room="choseRoom"-->
		<div class="formlist" fields-data="fieldsList" close-dialog="closeThisDialog(0)" form-submit="formSubmit()" column="2"></div>
	</div>
</script>
<!--end ngDialog createOne-->